ul{
    color: white;
}

li{
    color: white;
}

h2{
    color: white;
}

.aboutMe{
    padding: 20px;
}

.centres-d-interets{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.qui-suis-je{
    display: flex;
    flex-direction: column;
    width: 50%;
}